{{template "base" .}} {{define "content"}}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img
                src="./static/images/majors-suite.png"
                class="img-fluid img-thumbnail"
                alt="room-image"
            />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Major's Suite</h1>
            <p>
                Your Home away from home Your Home away from home Your Home away
                from home Your Home away from home Your Home away from home Your
                Home away from home Your Home away from home Your Home away from
                home Your Home away from home Your Home away from home Your Home
                away from home Your Home away from home Your Home away from home
                Your Home away from home Your Home away from home Your Home away
                from home Your Home away from home
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="/search-availability" class="btn btn-success"
                >Check Availability
            </a>
        </div>
    </div>
</div>
{{end}}
